<div>
  <h4>{{vm.product.name}}</h4>
  Rating: {{vm.product.rating}}
  <star-rating1></star-rating1>
  <star-rating2 rating="vm.product.rating"></star-rating2>
  <star-rating3
    rating="vm.product.rating"
    action="vm.save(vm.product.id)"></star-rating3>
</div>
